*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#corpoCabecalho{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{clear: both;}

header{
    background: #3D8CDC;
    padding: 12px 0;
}

/* Topo do Site */

#logoPrincipal{
    max-width: 480px;
    margin-top: 5px;
}

.menu-header{
    margin-right: 60px;
    margin-top: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    word-spacing: normal;
    float: right;
}

.menu-header li{
    display: inline-block;
    margin-right: 15px;
}

.menu-header a{
    color: white;
    text-decoration: none;
}

#socialTopo{
    margin-right: 125px;
    margin-top: -4%;
    float: right;
    max-width: 35%;
}

/* Notícias */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    background-color: #DBEEFD;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
  }

  .descDestaque{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 12px;
    margin-right: 12px;
    text-align: justify;
  }

  h3{
      font-size: 20px;
      
  }

.imgDestaque{
    max-width: 400px;
}

/* Rodapé do Site */

footer{
    background-color: rgb(110, 110, 110);
    padding-top: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

#logoRodape{
    max-width: 480px;
    margin-left: 30%;
}

