*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#corpoCabecalho{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{clear: both;}

header{
    background: linear-gradient(90deg, #08C8F6 0%, #3085C7 100%);
    padding: 10px 0;
}

/* Topo do Site */

#logoPrincipal{
    max-width: 480px;
    margin-top: 5px;
}

.menu-header{
    margin-right: 60px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    word-spacing: normal;
    float: right;
}

.menu-header li{
    display: inline-block;
    margin-right: 15px;
    background-color: #FD84A5;
    padding: 9px 13px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 2px 3px #AA3354;
}

.menu-header a{
    color: white;
    text-decoration: none;
}

.menu-header a:hover{
    color: #AA3354;
}

#socialTopo{
    margin-right: -20px;
    margin-top: -52px;
    float: right;
}

#RedeSocialTopo{
    max-width: 11%;
    animation-name: rodaSocial;
    animation-duration: 1s;  
  }

  @keyframes rodaSocial {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

/* Notícias */

.grid-container {
    margin-top: 12px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
  }

  .descDestaque{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 12px;
    margin-right: 12px;
    text-align: justify;
  }

  h3{
    font-size: 20px;
    color: #2D7DB9;
    text-rendering: optimizeLegibility;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: surgeTitulo;
    animation-duration: 1s;  
  }

  @keyframes surgeTitulo {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

.imgDestaque{
    max-width: 400px;
}

/* Rodapé do Site */

footer{
    background-color: rgb(110, 110, 110);
    padding-top: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

#logoRodape{
    max-width: 480px;
    margin-left: 30%;
}

/* Estilizando inputs com tipo Texto */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

/* Estilizando inputs com tipo Email */
input[type=email], email {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical 
}

/* Estilizando botão de Envio */
input[type=submit] {
  background-color: #2D7DB9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilizando container do formulário */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 35px;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
